# macOS
.DS_Store

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env.bak/
venv.bak/
